ArduinoPlantNodeRed/NodeRedToFollowPlant.txt
[{"id":"c164500f.ef3e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"454163db.1eb13c","type":"function","z":"c164500f.ef3e8","name":"","func":"var m1 = {topic: \"t1\", payload: msg.payload.split(\",\")[0]};\nvar m2 = {topic: \"t2\", payload: msg.payload.split(\",\")[1]};\nvar m3 = {topic: \"t3\", payload: msg.payload.split(\",\")[2]};\nvar m4 = {topic: \"t4\", payload: msg.payload.split(\",\")[3]};\n\nreturn [m1, m2, m3, m4];","outputs":8,"noerr":0,"x":390,"y":660,"wires":[["d7205667.ef5e78"],["8f8c0609.9958d8"],["19a73980.cc0e37"],["f63e62c0.33eee"],["33543fba.66d3a"],["a756b4a6.c521c8"],["8cceff8e.dd025"],["cf3dafc9.7ca45"]],"outputLabels":["m1","m2","m3","","","","",""]},{"id":"a182789b.059458","type":"serial in","z":"c164500f.ef3e8","name":"","serial":"e2d7566e.f63b68","x":190,"y":580,"wires":[["454163db.1eb13c"]]},{"id":"d7205667.ef5e78","type":"ui_gauge","z":"c164500f.ef3e8","name":"Plant 1","group":"a124921.dc5817","order":1,"width":0,"height":0,"gtype":"gage","title":"Plant 1","label":"Humidity %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":760,"y":420,"wires":[]},{"id":"eb0dcd3b.74a37","type":"serial out","z":"c164500f.ef3e8","name":"","serial":"e2d7566e.f63b68","x":780,"y":240,"wires":[]},{"id":"a2c1873e.354308","type":"ui_switch","z":"c164500f.ef3e8","name":"","label":"Pump 1 Manual Toggle","tooltip":"","group":"a124921.dc5817","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"2","offvalueType":"num","officon":"","offcolor":"","x":380,"y":160,"wires":[["eb0dcd3b.74a37"]]},{"id":"29d9b6c1.01d65a","type":"ui_switch","z":"c164500f.ef3e8","name":"","label":"Pump 2 Manual Toggle","tooltip":"","group":"76912b13.806f34","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"3","onvalueType":"num","onicon":"","oncolor":"","offvalue":"4","offvalueType":"num","officon":"","offcolor":"","x":380,"y":220,"wires":[["eb0dcd3b.74a37"]]},{"id":"8f8c0609.9958d8","type":"ui_gauge","z":"c164500f.ef3e8","name":"Plant 2","group":"76912b13.806f34","order":1,"width":0,"height":0,"gtype":"gage","title":"Plant 2","label":"Humidity %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":760,"y":460,"wires":[]},{"id":"19a73980.cc0e37","type":"ui_gauge","z":"c164500f.ef3e8","name":"Plant 3","group":"de3c4348.472d7","order":3,"width":0,"height":0,"gtype":"gage","title":"Plant 3","label":"Humidity %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":760,"y":500,"wires":[]},{"id":"f63e62c0.33eee","type":"ui_gauge","z":"c164500f.ef3e8","name":"Plant 4","group":"73f061db.16806","order":1,"width":0,"height":0,"gtype":"gage","title":"Plant 4","label":"Humidity %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":760,"y":540,"wires":[]},{"id":"33543fba.66d3a","type":"ui_gauge","z":"c164500f.ef3e8","name":"Subwoofer 1","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"Subwoofer 1","label":"Fahrenheit","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":710,"y":800,"wires":[]},{"id":"78ae0d7c.0fb764","type":"ui_switch","z":"c164500f.ef3e8","name":"","label":"Pump 3 Manual Toggle","tooltip":"","group":"de3c4348.472d7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"5","onvalueType":"num","onicon":"","oncolor":"","offvalue":"6","offvalueType":"num","officon":"","offcolor":"","x":379.00000381469727,"y":283.0000743865967,"wires":[["eb0dcd3b.74a37"]]},{"id":"8cceff8e.dd025","type":"ui_gauge","z":"c164500f.ef3e8","name":"Temperature","group":"80d92ce2.2684d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Fahrenheit","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":990,"y":960,"wires":[]},{"id":"a756b4a6.c521c8","type":"ui_gauge","z":"c164500f.ef3e8","name":"Humidity","group":"80d92ce2.2684d","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":880,"wires":[]},{"id":"cf3dafc9.7ca45","type":"ui_gauge","z":"c164500f.ef3e8","name":"Battery 1 Voltage","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery 1 Voltage","label":"Volts","format":"{{value}}","min":0,"max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"11.8","seg2":"14.5","x":677.9999885559082,"y":954.9999809265137,"wires":[]},{"id":"ccf5d593.f371e8","type":"ui_switch","z":"c164500f.ef3e8","name":"","label":"Pump 4 Manual Toggle","tooltip":"","group":"73f061db.16806","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"8","offvalueType":"num","officon":"","offcolor":"","x":380,"y":340,"wires":[["eb0dcd3b.74a37"]]},{"id":"e2d7566e.f63b68","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a124921.dc5817","type":"ui_group","z":"","name":"Plant 1","tab":"1e028c9.986ad73","order":2,"disp":true,"width":"6","collapse":true},{"id":"76912b13.806f34","type":"ui_group","z":"","name":"Plant 2","tab":"1e028c9.986ad73","order":3,"disp":true,"width":"6","collapse":false},{"id":"de3c4348.472d7","type":"ui_group","z":"","name":"Plant 3","tab":"1e028c9.986ad73","order":4,"disp":true,"width":"6","collapse":false},{"id":"73f061db.16806","type":"ui_group","z":"","name":"Plant 4","tab":"1e028c9.986ad73","order":5,"disp":true,"width":"6","collapse":false},{"id":"80d92ce2.2684d","type":"ui_group","z":"","name":"Vitals","tab":"a990e651.a9b4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e028c9.986ad73","type":"ui_tab","z":"","name":"I/O","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a990e651.a9b4d8","type":"ui_tab","z":"c164500f.ef3e8","name":"Device","icon":"dashboard","order":1,"disabled":false,"hidden":false}]